<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>صفحتي الشخصية</title>
</head>
<body>
  <header>
    <a href="#"><img src="WhiteLogo.png" alt="شعار نادي أدِيب"></a>
  </header>
</body>
</html>